<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jonathan Oliveira - Portfolio - Currículo</title>
  <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Jonathan Oliveira - Portfolio - Currículo">
  <meta name="keywords" content="Jonathan Oliveira">
  <meta name="author" content="Jonathan Oliveira">
  <meta name="Resource-type" content="Document">

  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

  <!-- Required Framework-->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

  <!-- Google font & font-awesome-->
  <link rel="stylesheet" href="css/font-awesome.css">
  <link href="css/css" rel="stylesheet" type="text/css">
  <link href="css/css(1)" rel="stylesheet" type="text/css">

  <!--Video pop-up css-->
  <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">

  <!-- Style css-->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- Reset css-->
  <link rel="stylesheet" type="text/css" href="css/reset.css">

  <!-- Responsive css -->
  <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>